<div class="grid grid-cols-2 mx-5 mt-8">
    <div >
        <p class="text-xl ml-11 font-semibold">Hello, {{firstName}}</p>
        <p class="text-sm text-gray-600 ml-11 font-normal">Have a nice day</p>
    </div>
    <div class="flex justify-end">
        <img class="w-5 h-6 flex mr-6 mt-3" src="../../../assets/icons/mdi_bell-badge.png" alt="bell">
        <div class="border border-l-6 h-full bg-gray-600 mr-6"></div>
        <span class="h-12 w-12 bg-gray-500 border rounded-full  inline-block mr-5"></span>
        <div class="flex">
            <div> 
                <p class="text-base font-semibold">{{firstName}} {{lastName}}</p>
                <p class="text-xs font-normal	">{{role}}</p>
            </div>
            <img  class="w-5 h-6 ml-2 mt-1" src="../../../assets/icons/mdi_chevron-down.png" alt="">
        </div>
    </div>
</div>
