<aside >
    <div class="w-64 h-screen border relative">
       
        <p class="text-xl font-bold mt-8 ml-10 mr-26 mb-14">YOUR LOGO</p>
        <div class="flex flex-col mt-8 ml-10 w-36 ">
            <ul class="flex flex-col mb-16 " >
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/mdi_apple-keyboard-command.png" alt="Dashboard-icons">Dashboard</div></a></li>
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/mdi_poll.png" alt="Objectives-icons">Objectives</div></a></li>
                <li class="mb-8"><a  class="text-base text-blue-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/document-text.png" alt="Documents-icons">Documents</div></a></li>
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/gallery.png" alt="Photos-icons">Photos</div></a></li>
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/mdi_hand-coin-outline.png" alt="Hierarchy-icons">Hierarchy</div></a></li>
            </ul>
            <div class="bg-blue-500 w-1 h-9 absolute right-0 top-56"></div>

            <ul class="flex flex-col">
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/Vector.png" alt="Message-icons">Message</div></a></li>
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/mdi_help-circle-outline.png" alt="Help-icons">Help</div></a></li>
                <li class="mb-8"><a  class="text-base text-gray-600  font-semibold"><div class="flex"><img class ="mr-5 "src="../../../assets/icons/mdi_cog-outline.png" alt="Setting-icons">Setting</div></a></li>
            </ul> 
        </div>
        
    </div>
</aside>