<div class="mx-5 ">
    <p class="text-2xl text-blue-500 mt-6 ml-11 font-bold">Users Dashboard</p>
    <div class="flex items-center">
        <input class="border rounded-2xl w-8/12 h-12 my-5 mr-2 relative" type="text" />
        <img class="absolute text-base ml-5" src="../../../assets/icons/fluent_search-24-filled.png" alt="">
        <p class="absolute font-normal ml-12">Search</p>


        <button class="w-36 h-12 bg-blue-500 text-white text-base border rounded-md ml-7 mr-8">Add user +</button>
        <div class="flex mr-5">
            <span class="mr-2 text-base font-semibold">Sort by</span>
            <img src="../../../assets/icons/mdi_chevron-down.png" alt="" class="mr-2">
        </div>
        <div class="flex">
            <span class="mr-2 text-base font-semibold">Saved search</span>
        <img src="../../../assets/icons/mdi_chevron-down.png" alt="" class="mr-2">
        </div>
        
        <img class="mx-auto"src="../../../assets/icons/Filter.png" alt="">
    </div>


    

    <div class="mt-7 rounded-md bg-white">
        <p class="ml-7 text-base pt-4 font-semibold">List Users</p>
        <div class="bg-white border flex">
            <p>Name</p>
            <p>Create date</p>
            <p>Role</p>
            <p>Action</p>
        </div>
        

    </div>


</div>